.Modal_wrapper{
   position: fixed;
   display: none;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.4);
}

.active{
   display: flex;
   align-items: center;
   justify-content: center;
}
.Modal_content{
   background-color: white;
   width: 600px;
   min-height: 180px;
   border-radius: 25px;
   border: 1px solid silver;
   opacity: 0.9;
   
}