.post_wrapper{
   border: 2px solid teal;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 3px;
   width: 90%;
   margin-bottom: 10px;
}
.post_description{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-left: 15px;
}
.delete_btn{
   margin-right: 15px;
}